:root {
  --ff-open-sans: "Open Sans", sans-serif;
  --ff-poppins: "Poppins", sans-serif;

  /* small screen font-sizes */
  --fs-200: 0.625rem; //navlink
  --fs-300: 0.75rem; //links
  --fs-400: 0.875rem; //body font size
  --fs-500: 1.25rem; //features headings and newsletter heading (set the p lineheight to 1.7)
  --fs-600: 1.5rem; //main heading and cta heading
  --fs-800: 3.813rem; //  stats with font weight bold

  --fw-regular: 400;
  --fw-bold: 600;
  --fw-bolder: 700;

  --clr-neutral-100: hsl(207, 100%, 98%);
  --clr-neutral-200: hsl(177, 81%, 65%);
  --clr-neutral-300: hsl(192, 100%, 9%);

  --clr-primary-100: hsl(321, 100%, 78%);
  --clr-primary-200: hsl(322, 100%, 66%);
  --clr-primary-300: hsl(0, 100%, 63%);

  --clr-bg-100: hsl(207, 100%, 98%);
  // --clr-bg-100: grey;

  --br: 1rem;
}

/* reset */

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4 {
  line-height: 1.5;
}

body,
h1,
h2,
h3,
h4,
p,
dl,
dd,
figure {
  margin: 0;
}

ul[class],
ol[class] {
  list-style: none;
  padding: 0;
}

input,
button,
textarea,
select {
  font: inherit;
}

input {
  padding: 1em 1.5em;
  border: 1px solid transparent;
  border-radius: 7px;
  width: 100%;
  &:focus {
    outline: none;
  }
  &:invalid {
    border: 1px solid var(--clr-primary-300);
  }
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

body {
  line-height: 1.5;
  font-family: var(--ff-open-sans);
  font-size: var(--fs-400);
  font-weight: var(--fw-regular);
  color: var(--clr-neutral-300);
  text-align: center;
}

/* typography */

h1,
h2,
h3,
.text-poppins {
  font-family: var(--ff-poppins);
  font-weight: var(--fw-bolder);
}

a {
  font-size: var(--fs-300);
  font-weight: var(--fw-bolder);
  &:hover,
  &:focus {
    opacity: 0.7;
  }
}

.btn {
  display: inline-block;
  cursor: pointer;
  border: 0;
  background: none;
  text-decoration: none;
  transition: opacity 0.2s ease;
  border-radius: 100vw;
  padding: 0.9em 1.9em;
  box-shadow: 0 5px 15px rgba($color: #000000, $alpha: 0.1);

  &:hover,
  &:focus {
    opacity: 0.7;
  }

  &-primary {
    color: #fff;
    background: var(--clr-primary-200);
  }
  &-secondary {
    color: #fff;
    font-size: 1rem;
    padding: 0.8em 2em;
    font-weight: var(--fw-bolder);
    background: var(--clr-primary-200);
    border-radius: 5px;
  }
  &-transparent {
    font-size: var(--fs-200);
    font-weight: var(--fw-regular);
    padding: 0.3em 1.6em;
    color: var(--clr-primary-200);
    border: 1px solid var(--clr-primary-200);
    background-color: transparent;
  }
}

/* general layout */

section {
  padding: 5rem 0;
}

@media (min-width: 40em) {
  section {
    padding: 3.5rem 0;
  }
}

.container {
  padding: 0 2em;
  max-width: 50rem;
  margin: 0 auto;
}

.flow-content > * + * {
  margin-top: var(--flow-spacer, 1em);
}

.split {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  & > * {
    flex-basis: 100%;
  }
}

.flex {
  display: flex;
  flex-direction: column;
}

@media (min-width: 40em) {
  .split {
    flex-direction: row;
    gap: 2.5rem;
  }
  .flex {
    flex-direction: row;
  }
}

.xl-space {
  margin-top: 5rem;
}

//utilities

.fs-500 {
  font-size: var(--fs-500);
}

.fw-bold {
  font-weight: var(--fw-bold);
}

.fw-bolder {
  font-weight: var(--fw-bolder);
}

.bg-wave {
  background-color: var(--clr-bg-100);
}

.txt-uppercase {
  text-transform: uppercase;
}
