.desktop {
  display: none;
}
.wave {
  width: 100%;
}
//nav
.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem;
}
.logo {
  width: 6rem;
}

.hero {
  --flow-spacer: 5.5em;
  .btn {
    width: 65%;
    max-width: 25rem;
    margin-top: 3rem;
  }
}

.hero-text {
  --flow-spacer: 1.5em;
}

.hero-title,
.cta-title {
  font-size: var(--fs-600);
}

//stats section
.stats {
  padding-bottom: 0;
  img {
    width: 2rem;
  }
}

.communities,
.messages {
  --flow-spacer: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: min-content;
  margin: 0 auto;
  line-height: 1;
  font-weight: var(--fw-bold);
  & p:not([class]) {
    opacity: 0.5;
  }
}
.scale {
  font-size: var(--fs-800);
  font-weight: var(--fw-bolder);
}

//features section
.features {
  .row {
    padding: 3rem 0;
  }
  .col-img {
    padding: 0 1rem;
  }
  .flex {
    gap: 6rem;
  }

  .row-2 {
    padding: 6rem 0;
  }
}

//cta section
.cta {
  padding: 0;
  padding-bottom: 16rem;
  .btn {
    width: 65%;
    max-width: 25rem;
  }
}

//footer section
footer {
  padding: 2rem 0;
  text-align: left;
  background-color: var(--clr-neutral-300);
  color: white;

  .flex {
    flex-direction: column;
  }

  .footer-logo {
    width: 12.5rem;
    margin-top: 6rem;
    filter: brightness(0) saturate(100%) invert(100%) sepia(83%) saturate(0%)
      hue-rotate(108deg) brightness(104%) contrast(104%);
  }

  .footer-wave {
    transform: translateY(-2rem);
  }

  .footer-text,
  .newsletter p {
    line-height: 1.7;
  }

  .newsletter-form {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 2.6rem;
    position: relative;
    .label-email {
      position: absolute;
      visibility: hidden;
    }
    .btn {
      width: 50%;
    }
    input:invalid + button:focus + .error {
      visibility: visible;
    }
    .error {
      visibility: hidden;
      position: absolute;
      text-align: center;
      color: var(--clr-primary-300);
      font-size: var(--fs-300);
      bottom: 2rem;
      left: 0.5rem;
    }
  }

  .contact > * {
    display: flex;
    align-items: center;
    gap: 1.2rem;
  }

  .contact,
  .social {
    margin-top: 3rem;
  }

  .social {
    display: flex;
    gap: 1rem;
    a {
      color: white;
      &:hover,
      &:focus {
        color: var(--clr-neutral-200);
      }
    }
  }
}
